header{
    background-color: rgb(5, 63, 20);
     padding: 1%;
     display: flex;
     align-items: baseline;
 }
 .card{
 background-color: rgb(226, 226, 226);
 border: none;
 margin: 2% 0% 2% 0%;
 }

 .card h5{
     text-align: center;
 }

 footer{
  background-color:  rgb(5, 63, 20);
  padding: 0%;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
 }

 img {
  justify-content: center;
  width: 99%;
  height: 100%;
  margin-top: 2%;
}

 aside{
     float: left;
 }

 .contact{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.support{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.googleMap{
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  /* contact submit button */
  input[type=submit] {
    background-color: #038354;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .response {
    padding-bottom: 30px;
}
  /* Contact form container styling */
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .form-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout*/
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  a {
    color: white;
  }

  a :hover {
    color: white;
  }

  .button{
    background-color: #038354;
    color: white;
    max-width: 100%;
    margin-top: 4px;
    border: none;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #038354;
    color: white;
  }

  /* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(5, 54, 17) ;
    color: white;
    border: none;
  }
/* web Chat Styling */