header{
   background-color: rgb(14, 80, 19);
    padding: 2%;
    display: flex;
    align-items: baseline;
}

.card{
background-color: azure;
}

.support{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.googleMap{
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }