header{
    background-color: rgb(5, 54, 17);
     padding: 2%;
     display: flex;
     align-items: baseline;
 }
 .card{
 background-color: rgb(211, 211, 211);
 margin: 1% 1% 1% 1%;
 }
 .card h5{
     display: flex;
     justify-content: center;
 }
 footer{
     background-color:  rgb(5, 54, 17);
     padding: 2%;
     position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
 }
 aside{
     float: left;
 }

.support{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.googleMap{
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }